*

# COMPONENTS #
!/administrator/
!/administrator/components/
!/administrator/components/com_belager/
!/administrator/components/com_belager/*
!/administrator/components/com_belager/*/*
!/administrator/components/com_belager/*/*/*


# MEDIA #
!/media/
!/media/com_belager/
!/media/com_belager/*
!/media/com_belager/*/*
!/media/com_belager/*/*/*
!/media/com_belager/*/*/*/*


# TEMPLATE #
!/templates/
!/templates/derjoachim_v2/
!/templates/derjoachim_v2/*
!/templates/derjoachim_v2/*/*
!/templates/derjoachim_v2/*/*/*
!/templates/derjoachim_v2/*/*/*/*
!/templates/tw_keepitsimple_joav2/
!/templates/tw_keepitsimple_joav2/*
!/templates/tw_keepitsimple_joav2/*/*
!/templates/tw_keepitsimple_joav2/*/*/*
!/templates/tw_keepitsimple_joav2/*/*/*/*
