/* ========================================================================== */
/* ============================= GLOBAL STYLING ============================= */
/* ========================================================================== */

/* * {margin:0;padding:0;} - reset all margins and paddings */
body {
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#222;
padding:0px;
margin:0px;
text-align:left;
background:#fff;
}
p, div, table, tr, td, form, input { 
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#222;
padding:0px;
margin:0px;
font-weight:normal;
text-decoration:none;
}

/* Links */
a {
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#222; /* light blue: 4d6486 */
font-weight:bold;
text-decoration:none;
}
a:link {}
a:visited {}
a:active,a:focus {outline:0;}
a:hover {
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#c00;
font-weight:bold;
text-decoration:none;
}

/* Headings */
h1 {
font-family:"Trebuchet MS",Trebuchet,Arial,Verdana,Sans-serif;
font-size:18px;
color:#c00;
padding:0px;
margin:0px;
font-weight:normal;
text-decoration:none;
}
h2 {
font-family:"Trebuchet MS",Trebuchet,Arial,Verdana,Sans-serif;
font-size:14px;
color:#222;
padding:0px;
margin:0px;
font-weight:normal;
text-decoration:none;
}
h3 {
font-family:"Trebuchet MS",Trebuchet,Arial,Verdana,Sans-serif;
font-family:Arial, Helvetica, sans-serif;
padding:0px;
margin:0px;
font-weight:normal;
text-decoration:none;
}
h4 {}
h5 {}
h6 {}

/* Listings */
ul {list-style:none;margin:0;padding:0;}
ul li {margin:1px 4px;}
ol {list-style:none;margin:0;padding:0;}
ol li {margin:1px 4px;}

/* Forms */
select, option {
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#222;
font-weight:normal;
text-decoration:none;
}
input {}
textarea {}
label {}

/* ========================================================================== */
/* ============================ CONTENT LAYOUT ============================== */
/* ========================================================================== */

table.outline {width:600px;margin:20% auto 0 auto;padding:0;text-align:center;border:none;}
table.outline tr td {padding:8px;}
span.err {background:#ffffd0;line-height:40px;border-top:1px solid #ccc;border-bottom:1px solid #ccc;}
#offline-footer {width:600px;text-align:center;margin:40px auto;padding:4px 0;border-top:1px solid #ddd;}

/* ========================================================================== */
/* =========================== END of stylesheet ============================ */
/* ========================================================================== */