@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot');
    src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.svg#icomoon') format('svg'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.icomoon:after {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

span.linkedin {
    &:after {
        content: "\e611";
        font-size: 30px;
        color: @link-color;
    }

    &:hover:after {
        color: @linkedin;
    }
}

span.twitter {

    &:after {
        content: "\e603";
        font-size: 30px;
        color: @link-color;
    }

    &:hover:after {
        color: @twitter;
    }
}

span.github {

    &:after {
        content: "\e60d";
        font-size: 30px;
        color: @link-color;
    }

    &:hover:after {
        color: @github;
    }
}

span.stumbleupon {

    &:after {
        content: "\e613";
        font-size: 30px;
        color: @link-color;
    }

    &:hover:after {
        color: @stumbleupon;
    }
}

span.lastfm {
    &:after {
        content: "\e612";
        font-size: 30px;
        color: @link-color;
    }

    &:hover:after {
        color: @lastfm;
    }
}